{% extends 'adminPannel/adminBase.html' %}

{% load static %}


{% block content %}

<div class="row content-wrap" >
    <div class="col-lg-12">
        <div class="card">

<div class="container"  style="margin-top: 30px; border: 1px solid black; padding: 30px;">
    
    {% for i in speakers_edit %}
    
    <form method="POST" action="{% url 'speakers_update' i.id %}" enctype="multipart/form-data">
       {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Speaker Name</label>
            <input type="text" class="form-control" value="{{i.speaker_name}}" name="speaker_name" required>
            <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Speaker Description</label>
            <input type="text" class="form-control" value="{{i.speaker_description_1}}" name="speaker_description_1" required>
            <div id="emailHelp" class="form-text"></div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Designation</label>
                <input type="text" class="form-control" value="{{i.designations}}" name="designations" required>
                <div id="emailHelp" class="form-text"></div>
                <option value="blank">--- Select one --- </option>
			    {% for i in designations %} 
			    <option value="{{i.id}}">{{i.designations_title}}</option>
			    {% endfor %}

			/<select>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Facebook Url</label>
                <input type="text" class="form-control" value="{{i.facebook}}" name="facebook" required>
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Twitter Url</label>
                <input type="text" class="form-control" value="{{i.twitter}}" name="twitter" required>
                <div id="emailHelp" class="form-text"></div>
            </div>  
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Linkedin Url</label>
                <input type="text" class="form-control" value="{{i.linkedin}}" name="twitter" required>
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Pinterest Url</label>
                <input type="text" class="form-control" value="{{i.pinterest}}" name="pinterest" required>
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Upload Image</label>
                <input type="file" class="form-control" value="{{i.speaker_pic}}" name="speaker_pic" required>
                <div id="emailHelp" class="form-text"></div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endfor %}
</div>

{% endblock %}